body{
  background: url(../imagenes/img5.jpg); /*localiza imagen en carpeta*/
  background-size: cover;
  background-repeat: no-repeat;
  /*background-repeat: repeat-x;  repite la imagen de manera horizontal*/
  background-attachment: fixed; /*Permite hacer un scroll en la imagen*/
  /*background-attachment: scroll; efectua un scroll completo con imagen*/
  /*color: #fff;*/
  background-position: /*Si colocara center 0 se centra pero no lo desplaza de arriba*/
}
